BDA-05 requires 400 response but should also support 401 for unauthorized since its an invalid client.

**Subject of the issue**
BDA-05 currently requires a 400 response status code but should also support 401 for unauthorized, since its an invalid client. We are using an Okta under the hood for our inferno auth, and okta returns a 401 when an invalid client is used. And per http://hl7.org/fhir/uv/bulkdata/STU1/authorization/ "If an error is encountered during the authentication process, the server SHALL respond with an invalid_client error as defined by the [OAuth 2.0 specification](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2)". And per the OAuth2.0 specs for invalid_client errors... "The authorization server MAY return an HTTP 401 (Unauthorized) status code to indicate which HTTP authentication schemes are supported."


**environment**
* Edition of inferno (Community or Program): Program
* Version of inferno: Version 1.8.2
* Which browser and version(s) is the bug present on?: Chrome, version 96.0.4664.110


**Steps to reproduce**
Run inferno-program edition's multi-patient API tests, specifically BDA-05, with an identity service which returns 401 instead of 400 when the client specifies an invalid client_assertion_type. For this test the auth payload has client_assertion_type=not_a_assertion_type.


**Expected behavior**
Test should pass.



**Actual behavior**
Test fails due to 401 response status code. Body is... 
{
  "error": "invalid_client",
  "error_description": "The client_assertion_type is invalid."
}

Hello @amcmanus1 : Thank you for raising this issue. 

RFC-6749 section [5.2](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2) specifies that 
* `invalid_request` is "The request is missing a required parameter, includes an **unsupported parameter value** (other than grant type), repeats a parameter, includes multiple credentials, utilizes more than one mechanism for authenticating the client, or is otherwise malformed."
* `invalid_client` is "Client authentication failed (e.g., unknown client, no client authentication included, or unsupported authentication method).

Our reading of Bulk Data IG section [6.1](http://hl7.org/fhir/uv/bulkdata/STU1/authorization/#protocol-details) and RFC-6749 section 5.2 is that an invalid `client_assertion_type` is **unsupported parameter value** which is an `invalid_request` instead of `invalid_client` so the server SHALL return 400

Your interpretation seems spot on, so I raised the issue with Okta as well. 
https://devforum.okta.com/t/invalid-client-assertion-type-causes-401-with-invalid-client-instead-of-400-with-invalid-reqeust/18628
