BDA-02 fails expecting 400 when using a Content-Type not associated with an OAuth token request. (FI-1348)

**Subject of the issue**

As [posted on chat.fhir.org](https://chat.fhir.org/#narrow/stream/179309-inferno/topic/HTTP.20status.20400.20expected.20in.20test.20BDA-02)

We encountered an error that we did not expect (based on our understanding of RFC 6749) in test BDA-02 Bulk Data Authorization.

In short, part of the test sends an HTTP request to the token endpoint without an appropriate content-type header, then expects an HTTP status of 400 and a corresponding OAuth error response as described in section 5.2 of RFC 6749. We think this expectation is a misinterpretation of the specification, with reasoning as follows:

RFC 6479 describes a token request using the following wording:

> The client MUST use the HTTP "POST" method when making access token
requests.

(Section 3.2)

> The client makes a request to the token endpoint by sending the
following parameters using the "application/x-www-form-urlencoded"
format per Appendix B with a character encoding of UTF-8 in the HTTP
request entity-body:

(Section 4.1.3)

As such, a token request is defined as an HTTP POST to the token endpoint using application/x-www-form-urlencoded format with character encoding of UTF-8. A "malformed" token request would be any request whose request entity-body does not match the expected structure as defined in section 4.1.3.

Test BDA-02 seems to expect that the server returns an access token error response (with status 400) for payloads whose content-type is not application/x-www-form-urlencoded. This may conflict with other future OAuth2-based RFCs that expect standard response codes for this situation. For example, the RFC draft "OAuth 2.0 JSON Request" states the following for clients sending token request payloads as JSON:

> If the request is rejected with 415 Unsupported Media Type, the requester MAY repeat the request using form encoding instead.




**Your environment**
* Edition of inferno (Community or Program): Program
* Version of inferno: 1.7
* Which browser and version(s) is the bug present on?: N/A


**Steps to reproduce**

* The selected test suite: Bulk Data Authorization
* BDA-02

Doesn't necessarily require replication; issue is specifically with test requirements.

**Expected behavior**

Our expectation is that a token endpoint receiving a request that contains an unexpected content-type would simply be rejected with a 415 response code, just as an HTTP PUT operation to the token endpoint would be expected to return a 405 status code.

As such, this test should either be removed entirely or altered to test standard HTTP semantics.

**Actual behavior**
Test fails:

> Authorization request fails when client supplies invalid content_type
>Bad response code: expected 400, but found 415


@whitehatguy After reviewing Bulk Data IG and RFC-6794, I don't find any clearly requirements that client SHALL use content-type `application/x-www-form-urlencoded`. As you mentioned that RFC-6794 section 3.2 states that
```quote
The client makes a request to the token endpoint by sending the
following parameters using the "application/x-www-form-urlencoded"
format per Appendix B with a character encoding of UTF-8 in the HTTP
request entity-body:
```quote
and Bulk Data IG section 6.1 states that
```quote
After generating an authentication JWT, the client requests a new access token via HTTP POST to the FHIR authorization server’s token endpoint URL, using content-type application/x-www-form-urlencoded with the following parameters:
```
None of these uses the conformance word "SHALL" and none of these two standards states what server SHALL response when the content-type is not "application/x-www-form-urlencoded".

So we propose to remove test BDA-02 from Multi-Patient test sequence.